<% unless response %>
<h1><%= param_title %> - <%= result["Error"] %></h1>
<% else %>
<article class="movie">
  <div class="poster">
    <img src="<%= poster_url %>">
  </div>
  <div class="details">
    <div class="head">
      <h1><%= title %> (<%= year %>) | <%= rated %></h1>
    </div>
    <div class="body">
      <p><%= plot %></p>
    </div>
  </div>
  <div class="foot"></div>
</article>
<% end %>

<a href="/">&crarr; Return to homepage</a>
