<h1>Movie Search</h1>
<section class="search">
  <form>
    <input type="text" name="movie_name" value="<%= params['movie_name'] %>">
    <button>Search</button>
  </form>
</section>

<% unless response.nil? %>
<section class="results">

  <% unless response %>
    <h1><%= params['movie_name'] %> - <%= results["Error"] %></h1>
  <% else %>
    <span class="results-found">Found <%= total_results %> Results</span>
    <nav>
      <% results.each do |result| %>
        <a href="/<%= result['Title'] %>">
          <article>
            <img class="inline-poster" src="<%= result['Poster'] %>">
            <h2><%= result['Title'] %> (<%= result['Year'] %>)</h2>
          </article>
        </a>
      <% end %>
    </nav>
  <% end %>

</section>

<% else %>

<section class="extras">
  <p>Not sure what to look for? Check out these movies, whilst you decide</p>
  <ul>
    <li><a href="/blade+runner">Blade Runner</a></li>
    <li><a href="/the+godfather">The Godfather</a></li>
    <li><a href="/jaws">Jaws</a></li>
    <li><a href="/sharknado">Sharknado</a></li>
    <li><a href="/once">Once</a></li>
  </ul>
</section>
<% end %>
