<h1>Movie Search</h1>
<section class="search">
  <form>
    <input type="text" name="movie_name" value="<%= params['movie_name'] %>">
    <button>Search</button>
  </form>
</section>

<% unless response.nil? %>
<section class="results">

  <% unless response %>
    <h1><%= params['movie_name'] %> - <%= results["Error"] %></h1>
  <% else %>
    <span class="results-showing">
      Showing results <strong><%= result_count %> - <%= [result_count + 10, total_results].min %></strong>
    </span>
    <span class="results-found">(Found <%= total_results %> Results)</span>
    <nav class="movies">
      <% results.each do |result| %>
        <a href="/<%= result['Title'] %>">
          <article>
            <img class="inline-poster" src="<%= result['Poster'] %>">
            <h2><%= result['Title'] %> (<%= result['Year'] %>)</h2>
          </article>
        </a>
      <% end %>
    </nav>

    <nav class="pagination">
      <% unless curr_page == 1 %>
        <a href="/?movie_name=<%= params['movie_name'] %>&page=1">«</a>
      <% end %>
      <% if prev_page >= 1 %>
        <a href="/?movie_name=<%= params['movie_name'] %>&page=<%= prev_page %>">‹</a>
      <% end %>

      <% page_range.to_a.each do |inner_page| %>
        <% if curr_page == inner_page %>
          <span><%= inner_page %></span>
        <% else %>
          <a href="/?movie_name=<%= params['movie_name'] %>&page=<%= inner_page %>"><%= inner_page %></a>
        <% end %>
      <% end %>

      <% if next_page <= last_page %>
        <a href="/?movie_name=<%= params['movie_name'] %>&page=<%= next_page %>">›</a>
      <% end %>
      <% unless curr_page == last_page %>
        <a href="/?movie_name=<%= params['movie_name'] %>&page=<%= last_page %>">»</a>
      <% end %>
    </nav>
  <% end %>

</section>

<% else %>

<section class="extras">
  <p>Not sure what to look for? Check out these movies, whilst you decide</p>
  <ul>
    <li><a href="/blade+runner">Blade Runner</a></li>
    <li><a href="/the+godfather">The Godfather</a></li>
    <li><a href="/jaws">Jaws</a></li>
    <li><a href="/sharknado">Sharknado</a></li>
    <li><a href="/once">Once</a></li>
  </ul>
</section>
<% end %>
